<h1>DaVinci Store</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Picture</th>
  </tr>
  </thead>

  <tbody>
  <%= render @products %>
  </tbody>
</table>

<br>
